body {
    padding: 0;
    margin: 0;
}

header,
footer {
    background: gray;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    margin: 0;
    height: auto;
}

header button,
header h2 {
    display: inline;
}

header h2 {
    margin: 0 10%;
}

.center {
    display: block;
    margin: 0 auto;
    width: 500px;
}

button {
    position: relative;
    background-color: #afd0e6;
}

*:disabled {
    background-color: #e4e4e4;
}

.hidden {
    display: none;
}

/*** FLEX MODEL***/

.flex_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_column_item {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
}

.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}

.flex_row_item {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto;
}

/* Players List */

.players-list {
    margin-top: 30px;
}

.players-list div {
    display: block;
}

.players-list input,
.players-list button,
.players-list p {
    display: inline;
    margin-bottom: 5px;
}

div.symbol,
div.type {
    position: relative;
    display: inline;
}

.symbol,
.type li {
    width: 20%;
}

ul.symbol>li,
ul.type,
ul.type>li {
    display: inline;
}

ul.symbol,
ul.type {
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 10;
    width: 60px;
    display: block;
    border: 1px solid black;
    -webkit-padding-start: 0;
    padding: 5px;
    background: white;
}

button.type {
    width: 120px;
}

.addBtn {
    width: 98%;
    margin-bottom: 10px;
}

.player_instance {
    width: 100%;
    display: block;
}

.player_instance input {
    width: 35%;
}

.player_instance button {
    width: 20%;
}

/* Field Settings */

.rows,
.columns,
.winlength {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.columns {
    margin: 0 18%;
}

.rows *,
.columns *,
.winlength * {
    display: block;
    width: 100%;
}

#fieldSettings input {
    text-align: center;
    border: none;
    font-size: 25px;
}

/* Field */

.cell {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
}

/* Tips */

.tip {
    visibility: hidden;
    min-width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 0;
    bottom: 125%;
    left: 5%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tip:focus,
button:focus {
    outline: none;
}

.tip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

button:disabled:hover .tip {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
}