/**
 * Created by Ksenia Annenko on 24.02.2017.
 */

/*
.selector {
/**** Positioning
position: absolute;
z-index: 10;
top: 0;
right: 0;

/***** Display & Box Model
display: inline-block;
overflow: hidden;
box-sizing: border-box;
width: 100px;
height: 100px;
padding: 10px;
border: 10px solid #333;
margin: 10px;

/****** Color
background: #000;
color: #fff

/***** Text
font-family: sans-serif;
font-size: 16px;
line-height: 1.4;
text-align: right;

/******* Other
cursor: pointer;
}
 */

/************* Main styles *************/

* {
    /*outline: 1px solid red;*/
}

html {
    /*background: url(../images/N&C_field_field.png) no-repeat;*/
    /*background-position-x: 50%;*/
    /*background-position-y: -377px;*/
    /*opacity: 0.5;*/
    /*background-size: 64%;*/
}

html {
    font-size: 10px;
}

body {
    width: 100%;
    min-width: 320px;
    height: 100%;
    background-color: rgb(240, 240, 240);
    font-family: "Myriad Pro", Calibri, sans-serif;
}
.container {
    max-width: 50rem;
}
.centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}
.collapsed {
    display: none;
}
button:focus {
    outline: none !important;
}

/* HEADER */
header, footer {
    position: relative;
    background-color: rgb(52, 52, 52);
}
header {
    height: 11vh;
    margin-bottom: 3rem;
    line-height: 11vh;
    font-size: 1vh;
    -webkit-box-shadow: 0 1rem 6rem rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1rem 6rem rgba(0,0,0,0.5);
    box-shadow: 0 1rem 6rem rgba(0,0,0,0.5);
}
.game_title {
    display: inline-block;
    color: rgb(81, 168, 255);
}
.game_title h2 {
    display: inline-block;
    margin: 0;
    font-size: 5rem;
    font-weight: bold;
    vertical-align: middle;
}
#start_game {
    text-align: left;
}
#settings_btn {
    float: right;
    text-align: right;
}
#start_game > button,
#settings_btn > button {
    display: inline-block;
    width: 7em;
    height: 7em;
    /*margin-top: 3vh;*/
    vertical-align: middle;
    border: none;
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
    background-color: transparent;
}
#start_game .glyphicon-play:hover,
#start_game .glyphicon-refresh:hover,
#settings_btn .glyphicon-cog:hover {
    -webkit-box-shadow: 0 0 5px rgba(255,255,255,0.5);
    -moz-box-shadow: 0 0 5px rgba(255,255,255,0.5);
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
}
#start_game .glyphicon-play,
#start_game .glyphicon-refresh,
#settings_btn .glyphicon-cog {
    padding: 0.6rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(112, 112, 112);
    font-size: 3rem;
}
#start_game .glyphicon-play {
    /*position: relative;*/
    /*left: -6px;*/
    color: rgb(255, 255, 255);
}
#start_game .glyphicon-refresh {
    /*font-weight: bold;*/
}
#settings_btn .glyphicon-cog {
    position: relative;
    left: -10px;
}
.blue {
    color: rgb(81, 168, 255);
}
.orange {
    color: rgb(255, 102, 51);
}
.white {
    color: rgb(255, 255, 255);
}

/* SETTINGS: ROWS, COLUMNS, WINLENGTH */
#settings_container {
    min-height: 78vh;
}
.settings {}
.field_settings_group {
    text-align: center;
}
.field_settings {

}
.inc.button,
.dec.button,
.cell_count {
    width: 100%;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(112, 112, 112);
}
.inc.button,
.dec.button {
    height: 4rem;
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 18px rgba(0,0,0,0.5);
    box-shadow: 0 0 18px rgba(0,0,0,0.5);
}
.inc.button:hover,
.dec.button:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.inc.button:focus,
.dec.button:focus {
    outline: none;
}
.inc .glyphicon-triangle-top,
.dec .glyphicon-triangle-bottom {
    position: relative;
    top: 7px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}
.dec .glyphicon-triangle-bottom {
    top: -5px;
}
.cell_count {
    height: 14rem;
    width: 100%;
    margin: 1rem 0;
    color: rgb(81, 168, 255);
    font-size: 3rem;
    font-weight: bold;
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 18px rgba(0,0,0,0.5);
    box-shadow: 0 0 18px rgba(0,0,0,0.5);
}
.cell_count label {
    margin-bottom: 0.7rem;
    margin-top: 0;
    font-size: 2.7rem;
}
.cell_count .form-control {
    width: 100%;
    height: 8rem;
    padding: 0 0 0.5rem 0;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 8rem;
    text-align: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}



/* SETTINGS: PLAYERS */
#player_settings {
    margin-top: 3rem;
}
.player_instance {
    margin-bottom: 1.6rem;
}
.player_name {
    width: 100% !important;
    height: 5rem;
    color: rgb(255, 255, 255);
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(112, 112, 112);
    font-size: 3.7rem;
    font-weight: bold;
    text-align: left;
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 18px rgba(0,0,0,0.5);
    box-shadow: 0 0 18px rgba(0,0,0,0.5);
}
.settings_buttons {
    margin-left: -20px;
}
.symbol_selected,
.type_selected,
.remove_player {
    width: 5rem;
    height: 5rem;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(112, 112, 112);
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 18px rgba(0,0,0,0.5);
    box-shadow: 0 0 18px rgba(0,0,0,0.5);
}
.symbol_selected:hover,
.type_selected:hover,
.remove_player:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.remove_player {
    -webkit-box-shadow: 0 0 18px rgb(81, 168, 255);
    -moz-box-shadow: 0 0 18px rgb(81, 168, 255);
    box-shadow: 0 0 18px rgb(81, 168, 255);
}
.symbol_selected img {
    width: 3.2rem;
}
.dropdown-menu.player_symbol {
    background-color: rgb(112, 112, 112);
}
.dropdown-menu.player_symbol img {
    float: left;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.7rem;
    cursor: pointer;

}
.dropdown-menu.player_symbol img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);

}
.active_type img {
    width: 2.2rem;
}
.dropdown-menu.player_type {
    min-width: 5rem;
    background-color: rgb(112, 112, 112);
}
.dropdown-menu.player_type li {
    text-align: center;
}
.dropdown-menu.player_type img {
    width: 3rem;
    padding: 0.5rem;
    cursor: pointer;
}
.dropdown-menu.player_type img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.remove_player {
    background-color: rgb(81, 168, 255);
}
.remove_player > span {
    position: relative;
    right: 3px;
    top: 3px;
    color: rgb(255, 255, 255);
    font-size: 3rem;
}
.add_player {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(81, 168, 255);
    -webkit-box-shadow: 0 0 18px rgb(81, 168, 255);
    -moz-box-shadow: 0 0 18px rgb(81, 168, 255);
    box-shadow: 0 0 18px rgb(81, 168, 255);
}
.add_player:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.add_player > span {
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
}



/* PLAY FIELD */
#game_field_container {
    /*min-height: 78vh;*/
}
.game_field {
    font-size: 10px;
}
#play_field {
    display: block;
    width: 100%;
}
.field_body {}
.flex_container_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    align-items: stretch; /*!!!*/
    /*min-height: 70vh;*/
}
.flex_container_row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    flex-grow: 0;
    flex-shrink: 0;
    align-self: center;
}
.field_row {}
.flex_block {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
.field_cell {
    position: relative;
    /*min-width: 30px;*/
    max-width: 150px; /*20vmin*/
    height: auto;
    margin: 0.8em;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(112, 112, 112);
    -webkit-box-shadow: 0 0 22px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 22px rgba(0,0,0,0.5);
    box-shadow: 0 0 22px rgba(0,0,0,0.5);
    cursor: pointer;
}
.field_cell:before {
    content: '';
    float: left;
    padding-top: 100%;
}
.field_cell:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.field_cell img{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
}
.winner { /*????????*/
    background-color: green;
}



/* FOOTER */
footer {
    height: 11vh;
    margin-top: 3rem;
    line-height: 11vh;
    -webkit-box-shadow: 0 -1rem 6rem rgba(0,0,0,0.5);
    -moz-box-shadow: 0 -1rem 6rem rgba(0,0,0,0.5);
    box-shadow: 0 -1rem 6rem rgba(0,0,0,0.5);
}
.status {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: bold;
}
#gameStatus {}
#gameStatus.flex_container {
    justify-content: space-around;
    align-items: center;
}
#gameStatus img {
    width: 3rem;
    height: 3rem;
}


/* MEDIA QUERIES */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Small devices (tablets, 767px and less) */
@media (max-width: 767px) {
    html {
        font-size: 8px;
    }
    .settings_buttons {
        margin-left: 0;
    }
    .settings_buttons .form-group {
        text-align: center;
    }
    .game_title h2 {
        font-size: 4rem;
    }
}

/* Mobile devices (479px and less) */
@media (max-width: 479px) {
    .game_title h2 {
        font-size: 3.5rem;
    }
    .cell_count label {
        font-size: 2rem;
    }
}