/**
 * Created by Ksenia Annenko on 24.02.2017.
 */

/*** Reset CSS ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, input, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
/*** Reset CSS end ***/

/************* Main styles *************/
html {
    font-size: 10px;
    height: calc(100%);
}
body {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    font-family: "Myriad Pro", Calibri, sans-serif;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
.full_width {
    width: 100%;
}
.container {
    max-width: 70vmin;
}
.centered {
    margin-right: auto;
    margin-left: auto;
}
.wrapper {
    position: relative;
    display: block;
    margin: auto;
    resize: both;
}
.transformer {
    position: relative;
    width: 300rem;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}
.collapsed {
    display: none !important;
}
button:hover {
    cursor: pointer;
}
button:focus {
    outline: none !important;
}

/*** Flex ***/
.flex_column {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex_column_item {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
}
.flex_row {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}
.flex_row_item {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto;
}


/*** HEADER ***/
header, footer {
    position: relative;
    background-color: rgb(52, 52, 52);
}
header {
    height: 10vh;
    -webkit-box-shadow: 0 1vh 6vh rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1vh 6vh rgba(0,0,0,0.5);
    box-shadow: 0 1vh 6vh rgba(0,0,0,0.5);
}
header .wrapper {
    height: 10vh;
}
header .transformer {
    top: calc(100% / 7);

}
header .header_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.game_title {
    order: 2;
    flex-grow: 3;
    width: 240rem;
    color: rgb(81, 168, 255);
}
.game_title h2 {
    margin: 0;
    font-size: 30rem;
    font-weight: bold;
    text-align: center;
}
#start_game {
    order: 1;
    flex-grow: 1;
    width: 30rem;
}
#settings_btn {
    order: 3;
    flex-grow: 1;
    width: 30rem;
    text-align: right;
}
#start_game > button,
#settings_btn > button {
    width: 30rem;
    height: 30rem;
    padding: 0;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(112, 112, 112);
    vertical-align: middle;
}
#start_game button:hover,
#start_game button:hover,
#settings_btn button:hover {
    -webkit-box-shadow: 0 0 10rem rgba(255,255,255,0.5);
    -moz-box-shadow: 0 0 10rem rgba(255,255,255,0.5);
    box-shadow: 0 0 10rem rgba(255,255,255,0.5);
}
#start_game .fa-play,
#start_game .fa-refresh,
#settings_btn .fa-cog {
    font-size: 20rem;
    vertical-align: middle;
}
#start_game .fa-play {
    color: rgb(255, 255, 255);
}
.blue {
    color: rgb(81, 168, 255);
}
.orange {
    color: rgb(255, 102, 51);
}
.white {
    color: rgb(255, 255, 255);
}



/*** SETTINGS: FIELD ***/
#settings_container {
    overflow-y: scroll;
}
#settings_container .wrapper {
    height: 80vh;
}
.field_settings_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-top: 25rem;
}
.field_settings_group .flex_row_item {
    width: 90rem;
}
.flex_row_item.columns{
    margin: 0 15rem;
}
.inc.button,
.dec.button,
.cell_count {
    width: 100%;
    border: none;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    background-color: rgb(112, 112, 112);
}
.inc.button,
.dec.button {
    height: 23rem;
    -webkit-box-shadow: 0 0 10rem rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10rem rgba(0,0,0,0.5);
    box-shadow: 0 0 10rem rgba(0,0,0,0.5);
}
.inc.button:hover,
.dec.button:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.inc.button:focus,
.dec.button:focus {
    outline: none;
}
.inc .fa-caret-up,
.dec .fa-caret-down {
    position: relative;
    top: 15px;
    color: rgb(255, 255, 255);
    font-size: 20rem;
}
.dec .fa-caret-down {
    top: -1rem;
}
.cell_count {
    width: 100%;
    height: 91rem;
    margin: 5rem 0;
    color: rgb(81, 168, 255);
    font-size: 3rem;
    font-weight: bold;
    -webkit-box-shadow: 0 0 10rem rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10rem rgba(0,0,0,0.5);
    box-shadow: 0 0 10rem rgba(0,0,0,0.5);
}
.cell_count label {
    position: relative;
    top: 6rem;
    font-size: 17rem;
}
.cell_count .settings-control {
    position: relative;
    top: 6rem;
    width: 100%;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 48rem;
    text-align: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}




/*** SETTINGS: PLAYERS ***/
#player_settings {
    margin-top: 25rem;
    padding-bottom: 25rem;
}
.player_instance {
    margin-bottom: 10rem;
}
.player_instance .flex_row {
    justify-content: space-between;
    width: 300rem;
}
.player_name {
    width: 72%;
    height: 30rem;
    margin-right: 2%;
}
.player_name input {
    width: 100%;
    height: 100%;
    text-indent: 5rem;
    border: none;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(112, 112, 112);
    font-size: 25rem;
    font-weight: bold;
    text-align: left;
    -webkit-box-shadow: 0 0 10rem rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10rem rgba(0,0,0,0.5);
    box-shadow: 0 0 10rem rgba(0,0,0,0.5);
}
.player_name input:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.settings_block {
    width: 36%;
}
.settings_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.symbol_selected,
.type_selected,
.remove_player {
    width: 30rem;
    height: 30rem;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(112, 112, 112);
    -webkit-box-shadow: 0 0 10rem rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10rem rgba(0,0,0,0.5);
    box-shadow: 0 0 10rem rgba(0,0,0,0.5);
}
.symbol_selected:hover,
.type_selected:hover,
.remove_player:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.symbol_selected img {
    width: 16rem;
}
.remove_player {
    -webkit-box-shadow: 0 0 10rem rgb(81, 168, 255);
    -moz-box-shadow: 0 0 10rem rgb(81, 168, 255);
    box-shadow: 0 0 10rem rgb(81, 168, 255);
}
.remove_player {
    background-color: rgb(81, 168, 255);
}
.remove_player > span {
    color: rgb(255, 255, 255);
    font-size: 20rem;
}
.add_player {
    width: 100%;
    height: 35rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    background-color: rgb(81, 168, 255);
    -webkit-box-shadow: 0 0 10rem rgb(81, 168, 255);
    -moz-box-shadow: 0 0 10rem rgb(81, 168, 255);
    box-shadow: 0 0 10rem rgb(81, 168, 255);
}
.add_player:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.add_player > span {
    color: rgb(255, 255, 255);
    font-size: 30rem;
}




/*** DROPDOWN ***/
.dropdown {
    position: relative;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 95rem;
    box-shadow: 0 0 20rem 0 rgba(0,0,0,0.5);
    padding: 2.5rem;
    z-index: 1;
}
.show {
    display: block;
}
.dropdown-menu.player_symbol {
    background-color: rgb(112, 112, 112);
}
.dropdown-menu.player_symbol img {
    float: left;
    width: 15rem;
    height: 15rem;
    padding: 2rem;
    cursor: pointer;
}
.dropdown-menu.player_symbol img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.active_symbol,
.active_type,
.dropdown-menu li {
    font-size: 8rem;
}
.active_symbol img {
    max-width: 16rem;
    vertical-align: middle;
}
.active_type img {
    width: 16rem;
}
.dropdown-menu.player_type {
    min-width: 5rem;
    background-color: rgb(112, 112, 112);
}
.dropdown-menu.player_type li {
    width: 25rem;
    height: 25rem;
    text-align: center;
}
.dropdown-menu.player_type img {
    width: 18rem;
    margin: 2rem;
    padding: 2rem;
    cursor: pointer;
}
.dropdown-menu.player_type img[alt="computer"]{
    padding: 38px 0;
}
.dropdown-menu.player_type img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}




/*** PLAY FIELD ***/
#game_field_container {
    overflow: hidden;
}
#game_field_container .container {
    max-width: 100%;
}
#play_field {
    font-size: 10px;
    height: 76vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#play_field_body {
    margin: 0 auto;
    text-align: center;
}
#play_field_body .transformer {
    height: 300rem;
}
.field_cell {
    position: relative;
    width: 94rem;
    padding-bottom: 94rem;
    margin: 3em;
    border: none;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    background-color: rgb(112, 112, 112);
    -webkit-box-shadow: 0 0 10rem rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10rem rgba(0,0,0,0.5);
    box-shadow: 0 0 10rem rgba(0,0,0,0.5);
    cursor: pointer;
}
.field_cell:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.field_cell img{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
}


/*** FOOTER ***/
footer {
    position: fixed !important;
    bottom: 0;
    height: 10vh;
    -webkit-box-shadow: 0 -1vh 6vh rgba(0,0,0,0.5);
    -moz-box-shadow: 0 -1vh 6vh rgba(0,0,0,0.5);
    box-shadow: 0 -1vh 6vh rgba(0,0,0,0.5);
}
footer > .container {
    max-width: 95vw;
    height: 100%;
}
.status {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 5vmin;
    line-height: 10vh;
    font-weight: bold;
    text-align: center;
}
#gameStatus {
    vertical-align: middle;
    word-break: break-all;
}
#gameStatus img {
    height: 3.5vmin;
}


@media (max-width: 600px) {
    header .transformer {
        top: calc(100% / 5);
    }
}
