/**
 * Created by Ksenia Annenko on 24.02.2017.
 */

/************* Reset css rules *************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/************* Main styles *************/
.wrap {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
#play_field {
    width: 400px;
    height: 400px;
}
#play_field table {
    width: 100%;
    height: 100%;
}
#play_field td {
    width: 30%;
    height: 30%;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    font-size: 60px;
    /*line-height: 0em;*/
    cursor: pointer;
}
#start_button {
    display: block;
    width: 30%;
    height: 80px;
    margin: 50px auto 0;
    font-size: 20px;
}
.cell.cross{
    /*background: url("../img/cross_s.png") no-repeat center;*/
}
.cell.nought{
    /*background: url("../img/nought_s.png") no-repeat center;*/
}
.status {
    display: block;
    text-align: left;
    height: 80px;
    font-size: 30px;
    /*line-height: 80px;*/
}
.crossWin {
    background-color: green;
}
.noughtWin {
    background-color: red;
}